<body>
<!--CAROUSEL-->
    <div class = "container"id="spacing">
        <div id="demo" class="carousel slide" data-ride="carousel">
            
            <div class="carousel-inner" >
                <div class="carousel-item active" >
                    <img src="../../assets/images/carosel_1.jpg" alt="Overlooking City">
                    <div class="carousel-caption">
                        <h3>Axion All Access</h3>
                        <p>A new way to manage your team!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/images/carosel_2.jpg" alt="Secret Identity">
                    <div class="carousel-caption">
                        <h3>Is your shirt itchy?</h3>
                        <p>Ours is too</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/images/carosel_3.jpg" alt="Hero on Hill">
                    <div class="carousel-caption">
                        <h3>We dont always take action shots</h3>
                        <p>Unless you happen do be doing something on a hill</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/images/carosel_4.jpg" alt="Overlooking city 2">
                    <div class="carousel-caption">
                        <h3>How tall is this building...</h3>
                        <p>Seriously, it looks kinda out of place its so tall</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/images/carosel_8.jpg" alt="Mastermind">
                    <div class="carousel-caption">
                        <h3>Are you evil?</h3>
                        <p>To us, its just a matter of perspecitve.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/images/carosel_7.jpg" alt="Holding gun">
                    <div class="carousel-caption">
                        <h3>Seriously though, are you evil?</h3>
                        <p>With enough cash we dont care :)</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/images/carosel_6.jpg" alt="Chalkboard">
                    <div class="carousel-caption">
                        <h3>Like complex equations?</h3>
                        <p>Good for you Will Hunting</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/images/carosel_5.jpg" alt="Jumping hero on hill">
                    <div class="carousel-caption">
                        <h3>Jumping?</h3>
                        <p>Jumping is flyings ugly cousin.</p>
                    </div>
                </div>
            </div>
        
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    
    <br />
    <br />
    
    <div class="container">
        <div class="col-sm-6" style="display: inline-block;">
            <div class="jumbotron">
            <h1>Heading here</h1>
            <h2>Adding some stuff</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="col-sm-6" style="display: inline-block;">
            <div class="jumbotron">
            <h1>Heading here</h1>
            <h2>Adding some more stuff</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
      </div>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <div class="container" style="padding-left: 15px;">
        <h5 style="padding-left: 13em;">Another quality product of</h5>
    </div>
     <div class="d-flex justify-content-center  p-5" >
        <img style=" height: 150px" src="../../assets/images/AxionInt.svg" alt="Full logo">
        <br />
    </div>
    <div class = "container">
        <p id="legalScript">BY USING THE WEBSITE OR APP AND THE SERVICES OFFERED ON THE WEBSITE AND APP, YOU AGREE TO FOLLOW AND BE BOUND BY THESE TERMS AND CONDITIONS AND THE AXION INTERNATIONAL PRIVACY POLICY WHICH ARE HEREBY INCORPORATED BY REFERENCE. IF YOU DO NOT WISH TO BE BOUND BY THESE TERMS AND CONDITIONS AND THE PRIVACY POLICY, YOU MAY NOT ACCESS OR USE THIS WEBSITE OR APP AND THE SERVICES OFFERED ON THE WEBSITE OR VIA THE APP.</p>
    </div>
      <br/>
      <br/>
      <br/>
</body>
    
<!--LOGIN MODAL-->
<ng-template #login let-modal>
    <div class="modal-header" id="loginModalBord">
        <h4 id="modText">Login</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form>
    <div class="modal-body"id="loginModal">
        <div class="container" style="text-align: center;">
            <br/>
            <input id="username" name="username" ngModel pattern="[a-zA-Z]{3,}" class="form-control" required minlength="5" [(ngModel)]="username" placeholder="Username"/>
            <br/>
            <input id="password" name="password" class="form-control"[(ngModel)]="password" placeholder="Password"/>
        </div>
        
    </div>
    <div class="modal-footer"id="loginModalBord">
        <button id="btnPad" type="button" class="btn btn-outline-info my-2 my-sm-0" >Submit</button>
    </div>
    </form>
</ng-template>

<!--REGISTER MODAL-->
<ng-template #registration let-modal>
    <div class="modal-header" id="loginModalBord">
        <h4 id="modText">Register</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form>
    <div class="modal-body"id="loginModal">
        <div class="container" style="text-align: center;">
            <h4 id="modText">Please enter your information</h4>
            <table align="center">
                <tr>
                    <td><h5 id="modText">Super Name:</h5></td>
                    <td><input id="sName" name="sName" class="form-control"[(ngModel)]="sName" placeholder="Super Name"/></td>
                    <td></td>
                    <td><h5 id="modText">Strength:</h5></td>
                    <td><input type="number" id="strength" name="strength" class="form-control"[(ngModel)]="str" placeholder="Strength"/></td>
                </tr>
                <tr>
                    <td><h5 id="modText">First Name:</h5></td>
                    <td><input id="fName" name="fName" class="form-control"[(ngModel)]="fName" placeholder="First Name"/></td>
                    <td></td>
                    <td><h5 id="modText">Constitution:</h5></td>
                    <td><input type="number" id="constitution" name="constitution" class="form-control"[(ngModel)]="con" placeholder="Constitution"/></td>
                </tr>
                <tr>
                    <td><h5 id="modText">Last Name:</h5></td>
                    <td><input id="lName" name="lName" class="form-control"[(ngModel)]="lName" placeholder="Last Name"/></td>
                    <td></td>
                    <td><h5 id="modText">Agility:</h5></td>
                    <td><input type="number" id="agility" name="agility" class="form-control"[(ngModel)]="agi" placeholder="Agility"/></td>
                </tr>
                <tr>
                    <td><h5 id="modText">Age:</h5></td>
                    <td><input type="number" id="age" name="age" class="form-control"[(ngModel)]="age" placeholder="Age"/></td>
                    <td></td>
                    <td><h5 id="modText">Intelligence:</h5></td>
                    <td><input type="number" id="intelligence" name="intelligence" class="form-control"[(ngModel)]="int" placeholder="Intelligence"/></td>
                </tr>
            </table>
            <br/>

            <div class="container" style="padding: 0 23em">
                <h5 id="modText">Username:</h5>
                <span ><input id="username" name="username" class="form-control" [(ngModel)]="username" placeholder="Username"/></span>
                <h5 id="modText">Password:</h5>
                <input id="password" name="password" class="form-control" [(ngModel)]="password1" placeholder="Password"/>
                <h5 id="modText">Verify Password:</h5>
                <input id="password" name="password" class="form-control" [(ngModel)]="password2" placeholder="Password"/>
            </div>
        </div>
        
    </div>
    <div class="modal-footer"id="loginModalBord">
        <button id="btnPad" class="btn btn-outline-info my-2 my-sm-0" type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample" mdbWavesEffect>Submit</button>

    </div>
    </form>
</ng-template>