<br>
<div class=container>
    <form [formGroup]="areaForm" (ngSubmit)="onSubmit()">
        <div class="row" >
            <div class="col-sm-4">
                <div class="form-group">
                    <input type="text" formControlName="city" class="form-control"  placeholder="City" [ngClass]="{ 'is-invalid': submitted && f.city.errors }"/>
                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                        <div *ngIf="f.city.errors.required">Location is required</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"> 
                <div class="form-group">
                    <button id="btnPad" class="btn btn-outline-info mr-1" rounded="true" mdbWavesEffect mdbBtn>Add</button>
                </div>
    
            </div>
        </div>
    </form>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Location</th>
              
            </tr>
        </thead>
       <tbody>
        <tr *ngFor="let location of locations; index as i">
            <th>{{i + 1 }}</th>
            <th>{{location.city}}</th>
           
        </tr>
       </tbody>
    </table>
</div>
</div>