<body>
    <div class="container">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <h2>Our Promise to you</h2>
        <br/>
        <div class="jumbotron">
            <h1>Customer Service</h1>
            <br>
            <h2>Its not just a word to us</h2>
            <br/>
            <h4>Its two words, with one meaning</h4>
            <p>And here at Axion International we vow to stand by you through thick and thin and that is why we have such a robust 
                customer service policy.  We are here 24 hours per day and 7 days per week to accomodate any issue you may have and 
                with a short 48 hour wait and one time (per issue) deposit for services our dedicated customer service professionals 
                will be more than happy to help you with your individual needs.  We here at Axion stand behind our customer service 
                with a 36 hour, patial money back guarantee for life. Help us, help you.!
            </p>
            <strong> - Management</strong>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</body>