<body>
    <div class="container">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <h2>Attention Job Seeker</h2>
        <br/>
        <div class="jumbotron">
            <h1>What we look for in an employee</h1>
            <br>
            <h2>Slavish devotion to a corporate entity?</h2>
            <br/>
            <h4>Kinda, but not really.</h4>
            <p>We here at Axion International are dedicated to bringing the very best into our corporate structure through the 
                meticulously crafted indoctriniation by out staff psychologist, Dr. Hypno.  After which, all of our new employees 
                agree that resistence is fultile...We kid. Or do we. In all seriousness if you want a job with us we need a few small 
                things to begin the process. All your banking records (for verification purposes) and a resume, in that order. Come into 
                the fold, you'll be glad you did.
            </p>
            <strong> - Management</strong>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</body>