<body>

     
    <div class="container" id="spacing">
        <!--LEFT SIDE OF PAGE-->
        <div class="mt-10 h-100">
            <div class="col-sm-8" style="display: inline-block;">
                <div class="interface-box container p-3">
                    <div *ngIf="User.superbeing == null || User.superbeing == undefined; else elseBlock">
                        <h1>Welcome, {{User.username}}</h1>
                    </div>
                    <ng-template #elseBlock><h1>Welcome, {{User.superbeing.superName}}</h1></ng-template>
                </div>
            </div>
<!--CURRENT STATS-->
        <div *ngIf="User.superbeing != null || User.superbeing != undefined">
            <div class="interface-box usection">
                <div id="Team-card" class="header-card">{{User.superbeing.superName}} statistics</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Alignment</th>
                            <th scope="col">Strength</th>
                            <th scope="col">Constitution</th>
                            <th scope="col">Intelligence</th>
                            <th scope="col">Agility</th>
                            <th scope="col">Team</th>
                            <th scope="col">Abilities</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td >{{User.superbeing.alignment.alignment}}</td>
                            <td >{{User.superbeing.strength}}</td>
                            <td >{{User.superbeing.constitution}}</td>
                            <td >{{User.superbeing.intelligence}}</td>
                            <td >{{User.superbeing.agility}}</td>
                            <td >{{User.superbeing.team.name}}</td>
                            <td >{{User.superbeing.abilities}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

<!-- TRANSFER REQUEST -->
        <div *ngIf="User.superbeing != null || User.superbeing != undefined">  
    <!-- Process Transfer Requests -->
    <div *ngIf="User.superbeing.leader"> 
       <app-team-lead></app-team-lead>
    </div>
            <div class="interface-box usection">
                <div id="Team-card" class="header-card">Team</div>
                <h4>Request to join a Super Team</h4>
                <ul>
                    <li>Please remember that all transfer requests to a team must be approved by the team leader.</li>
                    <li>You cannot be an active member of more than one team.</li>
                    <li>Upon approval, your current team membership will be revoked if you have one.</li>
                </ul>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Transfer Team Id</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
            
<!-- ADD SUPERBEING TO DATABASE -->
            <div class="interface-box usection">
                <div id="Team-card" class="header-card">Add a Super</div>
                <h4>Add a Superbeing!</h4>
                <ul>
                    <li>Are you aware of a superhero or a supervillain that has yet to be entered into our database? Contribute here!</li>
                </ul>  
                
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <!-- <div class="form-group"> -->
                        <div class="form-row">
                            <!-- Supername -->
                            <div class="input-group col-md-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-addSuper" >Super Name</span>
                                </div>
                                <input type="text" formControlName="supername" [(ngModel)]="newSuper.superName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.supername.errors }" />
                                <div *ngIf="submitted && f.supername.errors" class="invalid-feedback">
                                    <div *ngIf="f.supername.errors.required" style="color:red">Supername is required</div>
                                    <div *ngIf="f.supername.errors.pattern" style="color:red">Must be a valid supername</div>
                                </div>
                            </div>
                            <!--BaseLocation-->
                            <div class="input-group col-md-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-addSuper" >Base Location</span>
                                </div>
                                <input type="text" formControlName="baseloc"  class="form-control" [(ngModel)]="newLoc.city"[ngClass]="{ 'is-invalid': submitted && f.baseloc.errors }" />
                                <div *ngIf="submitted && f.baseloc.errors" class="invalid-feedback">
                                    <div *ngIf="f.baseloc.errors.required" style="color:red">Location is required</div>
                                    <div *ngIf="f.baseloc.errors.pattern" style="color:red">Must be a valid location</div>
                                </div>
                            </div>
                        </div> 
                        <br />

                        <div class="form-row">
                            <!-- First Name -->
                            <div class="input-group col-md-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-addSuper" >First Name</span>
                                </div>
                                <input type="text" formControlName="firstname" [(ngModel)]="newSuper.firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
                                <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                                    <div *ngIf="f.firstname.errors.required" style="color:red">First name is required</div>
                                    <div *ngIf="f.firstname.errors.pattern" style="color:red">Must be a valid name</div>
                                </div>
                            </div>
                            <!--Last Name-->
                            <div class="input-group col-md-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-addSuper" >Last Name</span>
                                </div>
                                <input type="text" formControlName="lastname"  [(ngModel)]="newSuper.lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
                                <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                                    <div *ngIf="f.lastname.errors.required" style="color:red">Last name is required</div>
                                    <div *ngIf="f.lastname.errors.pattern" style="color:red">Must be a valid name</div>
                                </div>
                            </div>
                        </div> 
                        <br />
                        <div class="form-row">
                            <!-- Strength -->
                            <div class="input-group col-md-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-addSuper" >Strength</span>
                                </div>
                                <input type="number" formControlName="strength" [(ngModel)]="newSuper.strength" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.strength.errors }" />
                                <div *ngIf="submitted && f.strength.errors" class="invalid-feedback">
                                    <div *ngIf="f.strength.errors.required" style="color:red">Strength is required</div>
                                    <div *ngIf="f.strength.errors.pattern" style="color:red">Must be a valid strength</div>
                                </div>
                            </div>
                            <!--Agility-->
                            <div class="input-group col-md-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-addSuper" >Agility</span>
                                </div>
                                <input type="number" formControlName="agility"  [(ngModel)]="newSuper.agility" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.agility.errors }" />
                                <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                                    <div *ngIf="f.agility.errors.required" style="color:red">Agility is required</div>
                                    <div *ngIf="f.agility.errors.pattern" style="color:red">Must be a valid agility</div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <!-- Constitution -->
                            <div class="input-group col-md-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-addSuper" >Constitution</span>
                                </div>
                                <input type="number" formControlName="constitution" [(ngModel)]="newSuper.constitution" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.constitution.errors }" />
                                <div *ngIf="submitted && f.constitution.errors" class="invalid-feedback">
                                    <div *ngIf="f.constitution.errors.required" style="color:red">Constitution is required</div>
                                    <div *ngIf="f.constitution.errors.pattern" style="color:red">Must be a valid constitution</div>
                                </div>
                            </div>
                            <!--Intelligence-->
                            <div class="input-group col-md-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-addSuper" >Intelligence</span>
                                </div>
                                <input type="number" formControlName="intelligence"  [(ngModel)]="newSuper.intelligence" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.intelligence.errors }" />
                                <div *ngIf="submitted && f.intelligence.errors" class="invalid-feedback">
                                    <div *ngIf="f.intelligence.errors.required" style="color:red">Intelligence is required</div>
                                    <div *ngIf="f.intelligence.errors.pattern" style="color:red">Must be a valid intelligence</div>
                                </div>
                            </div> 
                        </div>
                        <br />
                        <div class="form-row container" style="padding-left: 20em;">
                            <div class="form-check col-md-3" >
                                <input class="form-check-input" type="radio" formControlName="alignment"[(ngModel)]="newAlign.alignment_id" name="alignment" id="exampleRadios1" value="1" checked>
                                <label class="form-check-label" for="exampleRadios1"><strong>HERO</strong></label>
                              </div>
                              <div class="form-check col-md-3">
                                <input class="form-check-input" type="radio" formControlName="alignment"[(ngModel)]="newAlign.alignment_id" name="alignment" id="exampleRadios2" value="2">
                                <label class="form-check-label" for="exampleRadios2"><strong>NEUTRAL</strong></label>
                              </div>
                              <div class="form-check col-md-3">
                                <input class="form-check-input" type="radio" formControlName="alignment"[(ngModel)]="newAlign.alignment_id" name="alignment" id="exampleRadios3" value="3">
                                <label class="form-check-label" for="exampleRadios3"><strong>VILLAIN</strong></label>
                              </div>
                        </div>
                        <div class="form-group">
                            <label for="abilities">Description of abilities</label>
                            <input type="text" class="form-control" formControlName="abilities" id="abilities" [(ngModel)]="newSuper.abilities" [ngClass]="{ 'is-invalid': submitted && f.abilities.errors }" >
                            <div *ngIf="submitted && f.abilities.errors" class="invalid-feedback">
                                <div *ngIf="f.abilities.errors.required">Abilites are required</div>
                            </div>
                        </div>
                                         
                        <div class="form-group form-check">
                            <input type="checkbox" id="teamlead" class="form-check-input" formControlName="teamlead" [(ngModel)]="newSuper.leader" />
                            <label for="teamlead" class="form-check-label" id="modText">Is Team Leader</label>
                        </div>
                        <div class="text-center">
                            <button id="btnPad" class="btn btn-outline-info mr-1" rounded="true" mdbWavesEffect mdbBtn>Add</button>
                            <div class="divider"></div>
                            <button id="btnPad" class="btn btn-outline-secondary mr-1" rounded="true" mdbWavesEffect mdbBtn type="reset" (click)="onReset()">Cancel</button>
                        </div>
                    <!-- </div> -->
                </form>
            </div>
        


            <!-- HERO SEARCH -->
            <div class="interface-box usection">
                <div id="Team-card" class="header-card">Search</div>
                <h4>Search for Superbeings</h4>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-searchUser">By Name</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="heroQuery">
                </div>
                <div class="container pb-3 border-bottom border-white">
                        <div class="row">
                            <div class="col-sm-9"></div>
                            <button id="btnPad" class="col-sm-3 btn btn-outline-info" type="button" mdbBtn color="default"
                                rounded="true" mdbWavesEffect (click)="searchHeroes()">Search Beings</button>
                        </div>
                    </div>
                <h4>Search for Super Teams</h4>
                <app-search-team></app-search-team>
                <!-- <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-searchTeamByName">By Name</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="teamQuery">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9"></div>
                        <button id="btnPad" class="col-sm-3 btn btn-outline-info" type="button" mdbBtn color="default"
                            rounded="true" mdbWavesEffect (click)="searchTeams()">Search Teams</button>
                    </div>
                </div> -->
                <div id="searchError" class="d-none"><p id="searchErrorText" class="errorText">Test</p></div> 

            </div>

            <!-- HERO SEARCH RESULTS -->
            <div id="SuperBeings" class="interface-box usection d-none">
                <div id="Team-card" class="header-card">Search Results</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">SuperBeing</th>
                            <th scope="col">Strength</th>
                            <th scope="col">Constitution</th>
                            <th scope="col">Intelligence</th>
                            <th scope="col">Agility</th>
                            <th scope="col">Location</th>
                            <th scope="col">Alignment</th>
                            <th *ngIf="User.superbeing">Connect</th>
                            <th *ngIf="User.superbeing != null && User.superbeing.leader == true">Expunge</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Hero of Heroes">
                            <th scope="col">{{Hero.superName}}</th>
                            <th scope="col">{{Hero.strength}}</th>
                            <th scope="col">{{Hero.constitution}}</th>
                            <th scope="col">{{Hero.intelligence}}</th>
                            <th scope="col">{{Hero.agility}}</th>
                            <th scope="col">{{Hero.location.city}}</th>
                            <th scope="col">{{Hero.alignment.alignment}}</th>
                            <th *ngIf="User.superbeing == null || User.superbeing == undefined">
                                <button type="button" (click)="connectUserToSuperbeing(Hero)">Connect</button>
                            </th>
                            <th *ngIf="User.superbeing != null && User.superbeing.leader == true && Hero.team && Hero.team.teamId == User.superbeing.team.teamId">
                                <button type="button" (click)="kickSuperHeroFromTeam(Hero)">Expunge</button>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- AGGREGRATES AND STATS SECTION -->
            <div class="interface-box usection d-none">
                <div id="Team-card" class="header-card">Statistics</div>
                <div id="averages">
                    <h4>Averages</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Strength</th>
                                <th scope="col">Constitution</th>
                                <th scope="col">Intelligence</th>
                                <th scope="col">Agility</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">16</th>
                                <th scope="col">12</th>
                                <th scope="col">6</th>
                                <th scope="col">7</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--- LEGAL -->
            <div class="container" style="padding-left: 15px;">
                <h5 style="padding-left: 13em;">Another quality product of</h5>
            </div>
            <div class="d-flex justify-content-center  p-5">
                <img style=" height: 150px" src="../../assets/images/AxionInt.svg" alt="Full logo">
                <br />
            </div>
            <div class="container">
                <p id="legalScript">
                    BY USING THE WEBSITE OR APP AND THE SERVICES OFFERED ON THE
                    WEBSITE AND APP, YOU AGREE TO FOLLOW AND BE BOUND BY THESE TERMS
                    AND CONDITIONS AND THE AXION INTERNATIONAL PRIVACY POLICY WHICH
                    ARE HEREBY INCORPORATED BY REFERENCE. IF YOU DO NOT WISH TO BE
                    BOUND BY THESE TERMS AND CONDITIONS AND THE PRIVACY POLICY, YOU
                    MAY NOT ACCESS OR USE THIS WEBSITE OR APP AND THE SERVICES
                    OFFERED ON THE WEBSITE OR VIA THE APP.
                </p>
            </div>
        </div>
    </div>

</body>

<!-- 
    [~] Make a transfer request
    [~] Create a team
    [~] Request promotion to team leader
    [~] Register a user
    [~] Log in
    [~] Log Out
    [~] Search Superheroes / Supervillains
    [~] Search Teams
    [~] Get aggregates and statistics
    -->