<body>


    <div class = "container"id="spacing">
    <!--LEFT SIDE OF PAGE-->
    <div class="container mt-10 h-100">
        <div class="col-sm-6" style="display: inline-block;">
            <div class="interface-box container h-50">
                <h1>Welcome, {{User.username}}</h1>

            </div>
            <div class="interface-box container h-50">
                    <input type="text" placeholder="Search Heroes/Villains...">
                </div>
        </div>

<!--CENTER LINE OF PAGE-->

        <div class="col-sm-6" style="display: inline-block;">
            <div class="jumbotron">
            <h1>Hero</h1>
            <h2>Hero Name: {{Hero.name}}</h2>
            <p>Strength: {{Hero.Strength}}</p>
            <p>Constitiution: {{Hero.Constitiution}}</p>
            <p>Intelligence: {{Hero.Intelligence}}</p>
            <p>Agility: {{Hero.Agility}}</p>
            <p>Location: {{Hero.Location}}</p>
            <p>Alignment: {{Hero.Alignment}}</p>
            </div>
        </div>
      </div>
      
      <!--RIGHT SIDE OF PAGE-->
    </div>

      



    <!---COVERING THY ASS-->
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <div class="container" style="padding-left: 15px;">
            <h5 style="padding-left: 13em;">Another quality product of</h5>
        </div>
         <div class="d-flex justify-content-center  p-5" >
            <img style=" height: 150px" src="../../assets/images/AxionInt.svg" alt="Full logo">
            <br />
        </div>
        <div class = "container">
            <p id="legalScript">BY USING THE WEBSITE OR APP AND THE SERVICES OFFERED ON THE WEBSITE AND APP, YOU AGREE TO FOLLOW AND BE BOUND BY THESE TERMS AND CONDITIONS AND THE AXION INTERNATIONAL PRIVACY POLICY WHICH ARE HEREBY INCORPORATED BY REFERENCE. IF YOU DO NOT WISH TO BE BOUND BY THESE TERMS AND CONDITIONS AND THE PRIVACY POLICY, YOU MAY NOT ACCESS OR USE THIS WEBSITE OR APP AND THE SERVICES OFFERED ON THE WEBSITE OR VIA THE APP.</p>
        </div>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
    </body>
    