<body>

    <div class="container" id="spacing">
        <!--LEFT SIDE OF PAGE-->
        <div class="mt-10 h-100">
            <div class="col-sm-8" style="display: inline-block;">
                <div class="interface-box container p-3">
                    <div *ngIf="User.superbeing == null || User.superbeing == undefined; else elseBlock">
                        <h1>Welcome, {{User.username}}</h1>
                    </div>
                    <ng-template #elseBlock><h1>Welcome, {{User.superbeing.superName}}</h1></ng-template>
                </div>
            </div>
        <!--CURRENT STATS-->
        <div *ngIf="User.superbeing != null || User.superbeing != undefined">
            <div class="interface-box usection">
                <div id="Team-card" class="header-card">{{User.superbeing.superName}} statistics</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Alignment</th>
                            <th scope="col">Strength</th>
                            <th scope="col">Constitution</th>
                            <th scope="col">Intelligence</th>
                            <th scope="col">Agility</th>
                            <th scope="col">Team</th>
                            <th scope="col">Abilities</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td >{{User.superbeing.alignment.alignment}}</td>
                            <td >{{User.superbeing.strength}}</td>
                            <td >{{User.superbeing.constitution}}</td>
                            <td >{{User.superbeing.intelligence}}</td>
                            <td >{{User.superbeing.agility}}</td>
                            <td >{{User.superbeing.team.name}}</td>
                            <td >{{User.superbeing.abilities}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- TRANSFER REQUEST -->
        <div *ngIf="User.superbeing != null || User.superbeing != undefined">
            <div class="interface-box usection">
                <div id="Team-card" class="header-card">Team</div>
                <h4>Request to join a Super Team</h4>
                <ul>
                    <li>Please remember that all transfer requests to a team must be approved by the team leader.</li>
                    <li>You cannot be an active member of more than one team.</li>
                    <li>Upon approval, your current team membership will be revoked if you have one.</li>
                </ul>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Transfer Team Id</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
            </div>
            
            <!-- ADD SUPERBEING TO DATABASE -->
            <div class="interface-box usection">
                <div id="Team-card" class="header-card">Add a Super</div>
                <h4>Add a Superbeing!</h4>
                <ul>
                    <li>Are you aware of a superhero or a supervillain that has yet to be entered into our database? Contribute here!</li>
                </ul>                
                <div class="form-check py-4 ml-4">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Is a Team Leader
                    </label>
                </div>
                <div class="form-row my-4">
                    <div class="input-group col-md-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-addSuper">Super Name</span>
                        </div>
                      <input type="text" class="form-control" id="supername">
                    </div>
                    <div class="input-group col-md-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-addSuper">Base Location</span>
                        </div>
                        <input type="text" class="form-control" id="location">
                    </div>
                </div>
                <div class="form-row my-4">
                    <div class="input-group col-md-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-addSuper">First Name</span>
                        </div>
                      <input type="number" class="form-control" id="strength">
                    </div>
                    <div class="input-group col-md-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-addSuper">Last Name</span>
                        </div>
                        <input type="number" class="form-control" id="agility">
                    </div>
                </div>
                <div class="form-row my-4">
                    <div class="input-group col-md-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-addSuper">Strength</span>
                        </div>
                      <input type="number" class="form-control" id="strength">
                    </div>
                    <div class="input-group col-md-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-addSuper">Agility</span>
                        </div>
                        <input type="number" class="form-control" id="agility">
                    </div>
                    <div class="input-group col-md-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-addSuper">Intelligence</span>
                        </div>
                      <input type="number" class="form-control" id="intelligence">
                    </div>
                    <div class="input-group col-md-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-addSuper">Constitution</span>
                        </div>
                        <input type="number" class="form-control" id="constitution">
                    </div>
                </div>
                <div class="form-group">
                    <label for="abilities">Description of abilities</label>
                    <input type="text" class="form-control" id="abilities">
                </div>
                <div class="container pb-3 border-white">
                    <div class="row">
                        <div class="col-sm-8"></div>
                        <button id="btnPad" class="col-sm-4 btn btn-outline-info" type="button" mdbBtn color="default"
                            rounded="true" mdbWavesEffect (click)="addHero()">Add Superbeing</button>
                    </div>
                </div>
            </div>
            <div class="interface-box usection">
                <div id="Team-card" class="header-card">Team</div>
                <h4>Add a Superbeing!</h4>
                <ul>
                    <li>Are you aware of a superhero or a supervillain that has yet to be entered into our database? Contribute here!</li>
                </ul>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Supername</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Location</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Secret Identity First Name</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Secret Identity Last Name</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Is Team Leader</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Strength</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Intelligence</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Constitution</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Agility</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Abilities</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
            <!--Headers - #323840-->

            <!-- HERO SEARCH -->
            <div class="interface-box usection">
                <div id="Team-card" class="header-card">Search</div>
                <h4>Search for Superbeings</h4>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-searchUser">By Name</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="heroQuery">
                </div>
                <div class="container pb-3 border-bottom border-white">
                        <div class="row">
                            <div class="col-sm-9"></div>
                            <button id="btnPad" class="col-sm-3 btn btn-outline-info" type="button" mdbBtn color="default"
                                rounded="true" mdbWavesEffect (click)="searchHeroes()">Search Beings</button>
                        </div>
                    </div>
                <h4>Search for Super Teams</h4>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-searchTeamByName">By Name</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="teamQuery">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9"></div>
                        <button id="btnPad" class="col-sm-3 btn btn-outline-info" type="button" mdbBtn color="default"
                            rounded="true" mdbWavesEffect (click)="searchTeams()">Search Teams</button>
                    </div>
                </div>
                <div id="searchError" class="d-none"><p id="searchErrorText" class="errorText">Test</p></div>

            </div>

            <!-- HERO SEARCH RESULTS -->
            <div id="SuperBeings" class="interface-box usection d-none">
                <div id="Team-card" class="header-card">Search Results</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">SuperBeing</th>
                            <th scope="col">Strength</th>
                            <th scope="col">Constitution</th>
                            <th scope="col">Intelligence</th>
                            <th scope="col">Agility</th>
                            <th scope="col">Location</th>
                            <th scope="col">Alignment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Hero of Heroes">
                            <th scope="col">{{Hero.superName}}</th>
                            <th scope="col">{{Hero.strength}}</th>
                            <th scope="col">{{Hero.constitution}}</th>
                            <th scope="col">{{Hero.intelligence}}</th>
                            <th scope="col">{{Hero.agility}}</th>
                            <th scope="col">{{Hero.team.location.city}}</th>
                            <th scope="col">{{Hero.alignment.alignment}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- AGGREGRATES AND STATS SECTION -->
            <div class="interface-box usection d-none">
                <div id="Team-card" class="header-card">Statistics</div>
                <div id="averages">
                    <h4>Averages</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Strength</th>
                                <th scope="col">Constitution</th>
                                <th scope="col">Intelligence</th>
                                <th scope="col">Agility</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">16</th>
                                <th scope="col">12</th>
                                <th scope="col">6</th>
                                <th scope="col">7</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--- LEGAL -->
            <div class="container" style="padding-left: 15px;">
                <h5 style="padding-left: 13em;">Another quality product of</h5>
            </div>
            <div class="d-flex justify-content-center  p-5">
                <img style=" height: 150px" src="../../assets/images/AxionInt.svg" alt="Full logo">
                <br />
            </div>
            <div class="container">
                <p id="legalScript">
                    BY USING THE WEBSITE OR APP AND THE SERVICES OFFERED ON THE
                    WEBSITE AND APP, YOU AGREE TO FOLLOW AND BE BOUND BY THESE TERMS
                    AND CONDITIONS AND THE AXION INTERNATIONAL PRIVACY POLICY WHICH
                    ARE HEREBY INCORPORATED BY REFERENCE. IF YOU DO NOT WISH TO BE
                    BOUND BY THESE TERMS AND CONDITIONS AND THE PRIVACY POLICY, YOU
                    MAY NOT ACCESS OR USE THIS WEBSITE OR APP AND THE SERVICES
                    OFFERED ON THE WEBSITE OR VIA THE APP.
                </p>
            </div>
        </div>
    </div>

</body>

<!-- 
    [~] Make a transfer request
    [~] Create a team
    [~] Request promotion to team leader
    [~] Register a user
    [~] Log in
    [~] Log Out
    [~] Search Superheroes / Supervillains
    [~] Search Teams
    [~] Get aggregates and statistics
    -->