<div class=container>
  <form [formGroup]="beingForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <input type="text" formControlName="superName" class="form-control" placeholder="Super Name" [ngClass]="{ 'is-invalid': submitted && f.superName.errors }"/>
            <div *ngIf="submitted && f.superName.errors" class="invalid-feedback">
                <div *ngIf="f.superName.errors.required">Location is required</div>
            </div>
          </div>
            <div class="col-sm-2">
              <div class="form-group">
                <button id="btnPad" class="btn btn-outline-info mr-1" rounded="true" mdbWavesEffect mdbBtn>Search</button>
            </div>

            </div>
        </div>
        </div>
  </form>
</div>
<div class="container" *ngIf="loading"> 
  <h3 style="margin-top: 20px;">Result</h3>
  <div class="row">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th></th>
                  <th>#</th>
                  <th>Supername</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Ability</th>
                  <th></th>
              </tr>
          </thead>
         <tbody>
          <tr *ngFor="let super of supers; index as i">
            <th><button class="btn btn-md btn-outline-info" (click)="open(content,super.superBeingId)">!</button></th>
              <th>{{i + 1}}</th>
              <th>{{super.superName}}</th>
              <th>{{super.firstName}}</th>
              <th>{{super.lastName}}</th>
              <th>{{super.abilities}}</th>
          </tr>
         </tbody>
      </table>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Superbeing Detail</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <app-super-detail [id]="id"></app-super-detail>
    </div>
</ng-template>