<body>


<section  >
  <div classs="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      
      <div class="card col-sm-10 color" style="margin-left: 5%;">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>News</a>
            <ng-template ngbNavContent>
              <br>
              <div class="container">
                <h2>The Return of Doctor Destructo</h2>
                <p>Doctor Destructo strikes again as the city plunges into madness.  
                  Local hero Kickapoo states “It ain't all bad…” This reporter has nothing to say.  
                  When questioned citizens were appalled saying Kickapoo, fresh on the heels of his most recent DUI fiasco, 
                  “May as well join the malevolent doctor.”
                </p>
                <br>
                <p> In other news, tornados continue to frighten this reporter. Its something about their ability to BLOW STUFF AWAY.  Seriously, that is terrifying.</p>

                </div>
                <br>

            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Promotion</a>
            <ng-template ngbNavContent>
              <app-promotion></app-promotion>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>Team</a>
            <ng-template ngbNavContent>
              <app-search-team></app-search-team>
            </ng-template>
          </li>
          <li [ngbNavItem]="4">
            <a ngbNavLink>SuperBeing</a>
            <ng-template ngbNavContent>
              <app-search-super></app-search-super>
            </ng-template>
          </li>
          <li [ngbNavItem]="5">
            <a ngbNavLink>Register</a>
            <ng-template ngbNavContent>
              <app-eregister></app-eregister>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<!--- LEGAL -->
<div class="d-flex justify-content-center  p-5">
    <img style=" height: 150px" src="../../assets/images/AxionInt.svg" alt="Full logo">
    <br />
</div>



</section >
</body>
    