
<section>
  <div classs="container">
    <h1>Hello World</h1>
    <br>
    <div class="row">
      <div class="card col-sm-2">
        <div  style="margin-top: 5%;align-self: center;">
          <h2>Welcome</h2>
        </div>
        <div style="margin-top: 5%;">
          <p>Link1</p>
          <p>Link1</p>
          <p>Link1</p>
          <p>Link1</p>
          <p>Link1</p>
        </div>
      </div>
      <div class="card col-sm-9" style="margin-left: 40px;">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>News</a>
            <ng-template ngbNavContent>
              <p>hello</p>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Promotion</a>
            <ng-template ngbNavContent>
              <app-promotion></app-promotion>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>Team</a>
            <ng-template ngbNavContent>
              <app-search-team></app-search-team>
            </ng-template>
          </li>
          <li [ngbNavItem]="4">
            <a ngbNavLink>Register</a>
            <ng-template ngbNavContent>
              <app-eregister></app-eregister>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</section>
    