<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br>
    <br>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div>
        <a routerLink="/admin/super">Super</a>
        <br>
        <a routerLink="/admin/team">Team Management</a>
      </div>
      <br>
      <br>
      <br>
      <li *ngFor="let promo of promotions">{{promo.promId}}</li>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </body>
    
    