.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #cNavBar{
    background-color: #274368; 
 }
 .cFoot{
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 60px;
     background-color: #274368; 
     color:#9ba8b6;
     text-align: center;
     margin: auto;
 }
 
 .carousel-inner > .carousel-item > img {
     margin:auto;
     width:100%;
 }
 
 #spacing{
     padding-top: 10em;
 }
 
 .a3Logo{
     height: 75px;
     width: 75px;
 }
 .a3Verbage{
     height: 63px;
     text-align: center;
 }
 
 body{
     background-image: url(../../assets/images/bckgrnd_2.jpg);
     background-repeat: no-repeat, no-repeat;
     background-position: top ;
     background-color: #9ba8b6;
 }

 .interface-box{
     background-color:cornflowerblue;
 }
 #btnPad{
     padding:  0.5em 5em;
 }
 
 .divider{
     width:3em;
     height:auto;
     display:inline-block;
 }
 
 #loginModal{
     background-color: #274368; ;
 }
 #loginModalBord{
     background-color: #323840; ;
 }
 
 .jumbotron{
     background-color: rgba(133, 133, 147, .4);
 }
 
 #legalScript{
     font-size: 10px;
 }
 
 #modText{
     color:#9ba8b6;
 }
 
 td{
     padding:1.25em;
 }