<div class="container"> 
    <h3 style="margin-top: 20px;">Pomotion Request</h3>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Supername</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Ability</th>
                    <!-- <th>Team</th> -->
                    <th></th>
                </tr>
            </thead>
           <tbody>
            <tr *ngFor="let promotion of promotions; let i = index">
                <th>{{i}}</th>
                <th>{{promotion.superbeing.superName}}</th>
                <th>{{promotion.superbeing.firstName}}</th>
                <th>{{promotion.superbeing.lastName}}</th>
                <th>{{promotion.superbeing.abilities}}</th>
                <!-- <th>{{promotion.superbeing.team.name}}</th> -->
                <th><button class="btn btn-primary" (click)="pocessPromo(promotion.promId,1,promotion.superbeing)" type="button" >Approved</button>
                    <button class="btn btn-primary" (click)="pocessPromo(promotion.promId,2,promotion.superbeing)" type="button" style="margin-left: 5px;" >Rejected</button></th>
            </tr>
           </tbody>
        </table>
    </div>
</div>