<!--NAV BAR-->
<header>
    <nav class="navbar fixed-top"id="cNavBar">
        <div class="container-fluid">
            <div class="navbar-header">
            <img class="a3Logo" style="padding-left: 3px;" src="../../assets/images/A3.svg" alt="A3 logo">
            <img class="a3Verbage" style="padding-left: 35em; padding-top:7px" src="../../assets/images/AxionAllAccess.svg" alt="A3 verbage">
            </div>
            <div class="form-inline my-2 my-lg-0">
                    <button id="btnPad" class="btn btn-outline-info my-2 my-sm-0" type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
                    (click)="openLogin(login)" mdbWavesEffect>Login</button>
                    <div class="divider"></div>
                    <button id="btnPad" class="btn btn-outline-info my-2 my-sm-0" type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
                    (click)="openRegister(registration)" mdbWavesEffect>Register</button>
            </div>
        </div>
    </nav>
</header>

<app-login></app-login>
<!-- <app-elogin></app-elogin> -->
<!-- <router-outlet></router-outlet> -->

<!--FOOTER-->
<!--CHANGE SPAN TO BUTTONS-->
<footer class="cFoot">
    <div class="container"style="padding-top:13px">
        <span ><h5>about us    |    customer service    |    careers    |    <button router-link = "/employee">employee</button>    |   privacy</h5></span>
        <!-- <a [router-link] = "">about us</a><h5> | </h5><a [router-link] = "">customer service</a><h5> | </h5>
        <a [router-link] = "">careers</a><h5> | </h5><a [router-link] = "">employee</a><h5> | </h5><a [router-link] = "">privacy</a><h5> | </h5> -->
    </div>
</footer>