<!---->
<!--USER SIDE LOGIN-->
<!---->
<div *ngIf="router.url === '/login'">
    <!--NAV BAR-->
    <header>
        <nav class="navbar fixed-top"id="cNavBar">
            <div class="container-fluid">
                <div class="navbar-header">
                <img class="a3Logo" style="padding-left: 3px;" src="../../assets/images/A3.svg" alt="A3 logo">
                <img class="a3Verbage" style="padding-left: 35em; padding-top:7px" src="../../assets/images/AxionAllAccess.svg" alt="A3 verbage">
                </div>
                <div class="form-inline my-2 my-lg-0">
                        <button id="btnPad" class="btn btn-outline-info my-2 my-sm-0" type="button" mdbBtn color="default" rounded="true"[routerLink]="'/register'" mdbWavesEffect>Register</button>
                </div>
            </div>
        </nav>
    </header>

    <router-outlet></router-outlet>

    <!--FOOTER-->
    <footer class="cFoot">
        <div class="container"style="padding-top:13px">
            <span ><h5><a [routerLink]="'/aboutus'">about us</a>    |    <a [routerLink]="'/cserve'">customer service</a>    |    <a [routerLink]="'/careers'">careers</a>     |    <a [routerLink]="'/employee'">employee</a>    |   <a [routerLink]="'/privacy'">privacy</a></h5></span>
        </div>
    </footer>
</div>


<!---->
<!--EMPLOYEE SIDE-->
<!---->

<div *ngIf="router.url === '/employee'">
    <!--NAV BAR-->
    <header>
        <nav class="navbar fixed-top"id="cNavBarE">
            <div class="container-fluid">
                <div class="navbar-header">
                <img class="a3Logo" style="padding-left: 3px;" src="../../assets/images/A3.svg" alt="A3 logo">
                <img class="a3Verbage" style="padding-left: 35em; padding-top:7px" src="../../assets/images/AxionAllAccess.svg" alt="A3 verbage">
                </div>

            </div>
        </nav>
    </header>

    <router-outlet></router-outlet>

    <!--FOOTER-->
    <!--CHANGE SPAN TO BUTTONS-->
    <footer class="cFootE">
        <div class="container"style="padding-top:13px">
            <span ><h5><a [routerLink]="'/aboutus'">about us</a>    |    <a [routerLink]="'/cserve'">customer service</a>    |    <a [routerLink]="'/careers'">careers</a>     |    <a [routerLink]="'/login'">login</a>    |   <a [routerLink]="'/privacy'">privacy</a></h5></span>
        </div>
    </footer>
</div>

<!---->
<!--USER SIDE P-->
<!---->
<!-- parseInt(localStorage.getItem('curUserId')) -->

<div *ngIf="router.url !== '/login' && router.url !== '/employee'">
    <!--NAV BAR-->
    <header>
        <nav class="navbar fixed-top"id="cNavBar">
            <div class="container-fluid">
                <div class="navbar-header">
                <img class="a3Logo" style="padding-left: 3px;" src="../../assets/images/A3.svg" alt="A3 logo">
                <img class="a3Verbage" style="padding-left: 35em; padding-top:7px" src="../../assets/images/AxionAllAccess.svg" alt="A3 verbage">
                </div>
                <div class="form-inline my-2 my-lg-0">
                        <button id="btnPad" class="btn btn-outline-info my-2 my-sm-0" type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
                         mdbWavesEffect (click)="logout()" >Logout</button>
                        <div class="divider"></div>
                </div>
            </div>
        </nav>
    </header>

    <router-outlet></router-outlet>

    <!--FOOTER-->
    <footer class="cFoot">
        <div class="container"style="padding-top:13px">
            <span ><h5><a [routerLink]="'/aboutus'">about us</a>    |    <a [routerLink]="'/cserve'">customer service</a>    |    <a [routerLink]="'/careers'">careers</a>     |    <a [routerLink]="'/employee'">employee</a>    |   <a [routerLink]="'/privacy'">privacy</a></h5></span>
        </div>
    </footer>
</div>



